* {
    margin:0; 
    padding:0;
  }
body {
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: #858585;
    border-radius: 0;
    border: 1px solid black;
  }
  .navbar-brand {
    padding-top: 15px;
  }
  .navbar-brand h1 {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .container {
    margin: 0;
  }
  .navbar-default .navbar-toggle {
  border-color: black;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #858585;
  border-color: #d2d6d3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #d2d6d3;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgb(255, 255, 255);
}
#nav-list a {
  color: #000000;
  text-align: center;
  border-bottom: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}

/* HOME PAGE */
.menu-content h1 {
  color: #000000;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.section-content {
  background-color: #b6b6b6;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
}
.section-content p {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
.section-content h2 {
  font-size: 125%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}


/********** Large devices **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices - Desktop **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/********** Small devices - Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  
}

/********** Extra small devices - Mobile **********/
@media (max-width: 767px) {
  
}