* {
    margin:0; 
    padding:0;
  }
body {
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: #858585;
    border-radius: 0;
    border: 1px solid black;
  }
  .navbar-brand {
    padding-top: 25px;
  }
  .navbar-brand h1 {
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .container {
    margin: 0;
  }
  .navbar-toggle {
      color: black;
      background: black;
  }